* {
  margin: 0;
  padding: 0;
}

Header,
Footer {
  height: 10vh;
  background-color: burlywood;
  display: flex;
}

.content {
  height: 60vh;
  display: flex;
}

article {
  flex-grow: 3;
  display: flex;
 
}

aside {
  background-color: aqua;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  
}

nav {
  background-color: palevioletred;
  display: flex;
  float: left;
  padding: 20px;
  height: 73vh;
  width: 100px;
  justify-content: center;
}